body
{
  font-family: 'Overpass', sans-serif !important;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow: hidden;
  height: 100%;
  line-height:0.9;
  overflow-y: auto;
  background-size: 100% 100%;
}

#particles-js{
  background-color: #f5f5f5;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
}

#centralContent{
   position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

td {
	height: 10px !important;
}
